---
http_interactions:
- request:
    method: get
    uri: https://chain.so/api/v2/address/LTC/Lbc8949Dht4Ps7o4B7Nn4Ld4fA6vk19qH3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status" : "success",
          "data" : {
            "network" : "LTC",
            "address" : "Lbc8949Dht4Ps7o4B7Nn4Ld4fA6vk19qH3",
            "balance" : "0.00000000",
            "received_value" : "0.00000000",
            "pending_value" : "0.00000000",
            "total_txs" : 0,
            "txs" : []
          },
          "code" : 200,
          "message" : ""
        }
  recorded_at: Fri, 26 Apr 2019 10:56:12 GMT
recorded_with: VCR 4.0.0
